<h1>Editing Category</h1>

<%= render 'form' %>
<h4 class="ui horizontal inverted divider">

</h4>
<div class="ui buttons">
  <%= link_to 'Show', @category, class: 'ui button' %> |
  <div class="or"></div>
  <%= link_to 'Back', categories_path, class: 'ui positive button' %>
</div>

